<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:applicationContext.xml</param-value>
  </context-param>

  <filter>
    <filter-name>MyFiter</filter-name>
    <filter-class>com.zzx.listenerfilterintercept.MyFilter</filter-class>
    <init-param><!--初始化过滤器参数-->
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFiter</filter-name>
    <url-pattern>/hello</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>com.zzx.listenerfilterintercept.Listener</listener-class>
  </listener>

  <!--configure the setting of springmvcDispatcherServlet and configure the mapping-->
  <servlet>
    <servlet-name>hibernate</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:applicationContext.xml</param-value>
    </init-param>
    <!-- <load-on-startup>1</load-on-startup> -->
  </servlet>

  <servlet-mapping>
    <servlet-name>hibernate</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
